.team-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
}

.staff-card {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 2rem;
  border-radius: 12px;;
  border: 1.5px solid #404041;
  background-color: #2c2d2e;;
}

.staff-credentials {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  color: rgba(255,255,255,.55);
}