.form-response {
  text-align: center;
}

form {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;

}

form div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input, textarea {
  padding: .75rem;
  border-radius: 8px;;
  border: none;
  outline: none;
}

textarea {
  min-height: 3rem;
  max-height: 12rem;
  resize: vertical;
}

form button {
  padding: .75rem;
  font-size: 1.125rem;
  border-radius: 8px;

  border: none;
}

form button:hover {
  background-color: #8c8c8c;
}
