nav ul {
  display: flex;
  gap:  1rem;
}

nav button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

nav a {
  display: flex;
  gap: .5rem;
}

