nav ul {
  display: flex;
  gap:  1rem;
  align-items: center;
}

nav button {
  padding: .5rem 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

nav button:hover {
  border-bottom: 2px solid #ae75ff;
}

nav a {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
  height: 2rem;
  font-size: 1rem;

}

nav a img {
  height: .75rem;
}

nav a:hover {
  border-bottom: 2px solid #ae75ff;
}